
div#banner {
  max-width: 90vh;
  padding: 0.8rem;
  margin: auto;
  background-color: white;
  opacity: 0.80;
  filter: invert(70%);
}
div.content {
  max-width: 90vh;
  padding: 0.8rem;
  margin: auto;
  background-color: white;
  opacity: 0.80;
}
