<!DOCTYPE html>
<meta charset="utf-8"/><!-- vim: filetype=html
-->
<link href="assets/style.css" rel="stylesheet" type="text/css" media="all">
<body style="background-image: URL({{site.bgimg | prepend:site.baseurl}}); background-size: cover;">
<div style="margin-top:100; position:static; bottom-margin:0">static<hr></div>  
<div id=console style="color:red">console</div>
<div id=banner>
<hr>
<h2>HoloMedia</h2>
</div>

<div class=content>
{{content}}
</div>

<div id=footer><pre>
<hr>
</div>

<script src="https://cdn.jsdelivr.net/gh/michel47/js@latest/dist/inc-gd.js" type=text/javascript ></script>
<!-- Remove background and add border for dbug -->
{% if JEKYLL_ENV == "production" %}
<script>
   document.querySelector('#console').innerHTML = '';
</script>
{% else %}
<script type="text/javascript">
   console.log(document.querySelector('#console'))
   document.getElementById('console').innerHTML = 'wire frame mode set ...';


/* WIREFRAME mode ! */
 document.getElementsByTagName('body')[0].style.backgroundImage= 'none';

/*
//  1. do element by elements ...
   document.querySelector('.debug').style.border = '1px dashed #F00';
// 2. create a new style element (innerHTML way!)
  var style = document.createElement('style');
  style.innerHTML = "div { border = '1px dashed grey'; }"
// 3. insert a rule
  var style = document.createElement('style');
  document.head.appendChild(style);
  style.sheet.insertRule('div {color: darkseagreen}');
*/

  var sheet = document.styleSheets[0];
  sheet.insertRule('div {border: 1px dashed grey; }');

// see also [*](https://www.w3.org/wiki/Dynamic_style_-_manipulating_CSS_with_JavaScript)
</script>
{% endif %}
</body>
